.button {
  font-size: 20px;
  background: #ccc;
}
 
.red-text {
  color: red;
  font-size: 30px;
}
 
.green-text {
  color: green;
  font-size: 30px;
}
.header-title{
	font-size:24px;
	position:center;
}
.btn-staff{
	font-size:24px !important;
}